#blog {
	background: @white;
	color:@purple-dark;
	font-weight: 600;
	padding: 8em 0em;
	.subheading {
		color:@purple;
		font-weight: bold;
	}
	h1 {
		.heading(0 0 0.5em 0,#fff)
	}
}

.sidebar-lighter {
	font-weight: 400;
	color: @purple;
}