/*=========================================
=            Common Search box            =
= Example location - homepage center
=========================================*/
.search-box(@background,@text-color,,@circle-color,@icon-color) {
	box-shadow: none;
	background:@background;
	display: block;
	padding: 0.3em 0em 0.3em 0.3em;
	border-radius: @pill;
	color: @text-color;

	overflow: hidden;
	button {
		display: inline-block;
		background: none;
		float:right;
		margin:0 1em 0 0em;
	}
	input:focus {
		outline: none;
		border:0px;
		box-shadow: none;
	}
	input:focus + button i {
		color:#fff;
		transition:0.3s all ease;
	}
	input {
		box-shadow: none;
		background: none;
		border:0px;
		color:#fff;
		line-height: 2em;
		display: inline-block;
		margin: 0.8em 0 0 0;
		font-weight: bold;

	}
	i.circle {
		color:@icon-color;
		transition:0.3s all ease;
		.circle(3em, @circle-color)
	}
}



.search-box {
	.search-box(@purple,@white,@yellow,@purple-dark)
}
.search-box.purple {
	.search-box(@white,@purple,@yellow,@purple-dark)
}