/*==============================
=            Colors            =
==============================*/
@purple :#5148CB;
@purple-dark : #211856;
@purple-alt: #483FB6;
@purple-darkest: #171249;

@yellow : #FFC93E;
@yellow-dark : #E5AA03;

@cyan   : #09D3AC;
@cyan-dark   : #0BAF8F;

@orange : #FF8945;
@orange-dark : #DF6919;

@grey: #EBEFF2;
@grey-dark: #d8dfe5;
@grey-darkest: #aab1b3;


@blue: #5167DB;

@white: #FFFFFF;
/*=============================
=            Fonts            =
=============================*/
body {
	font-family: 'Avenir',Helvetica,sans-serif;
}



/*===================================
=            Button Vars            =
===================================*/
@pill: 500px;


/*=========================================
=            Background Colors            =
=========================================*/
.purple_bg {
	background: @purple;
}
.purple_alt_bg {
	background: @purple-alt;
}
.purple_dark_bg {
	background: @purple-dark;
}
.grey_bg {
	background: @grey;
}



/*=============================
=            Cards            =
=============================*/
@card-chatbubble-size: 20px; 





