/*==============================
=            Colors            =
==============================*/
@purple :#5148CB;
@purple-dark : #211856;
@purple-alt: #483FB6;
@purple-darkest: #171249;

@yellow : #FFC93E;
@yellow-dark : #E5AA03;

@cyan   : #09D3AC;
@cyan-dark   : #0BAF8F;

@orange : #FF8945;
@orange-dark : #DF6919;

@grey: #EBEFF2;
@grey-dark: #d8dfe5;
@grey-darkest: #aab1b3;


@blue: #5167DB;

@white: #FFFFFF;
/*===================================
=            Button Vars            =
===================================*/
@pill: 500px;







/*=============================
=            Cards            =
=============================*/
@card-chatbubble-size: 20px; 





