<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home .:. Maxconnect</title>
        <link rel="stylesheet" href="/skin.css">
    </head>
    <body>
        @@include('primary-nav.html')

        <div class="jumbotron">

        </div>
        @@include('color-nav.html')
        <div class='container big-box'>


    </div>
    <section id="blog" class="jumbotron">
        <article class="container">
     
        @@include('blog/sidebar-blog.html')


        </article>
    </section>


    @@include('footer.html')

</body>
</html>