<body>
    [pbHeadContent]
    include "layouts/head.html"
    [/pbHeadContent]
    <div id="wrap">
        <div id="main">
            <div class="main-wrapper">
                <!-- Header Part Start-->
                @@include('includes/nav.html',{
                "memberlevel": "manger,staff"
                })

                [pbTemplate]

                <!-- Footer Start-->
            </div></div>
            include "layouts/footer.html"
        </div>
        <!-- ANALYTICS COCE -->
        <script>
        function getYear(date){
            var year;
            var split = date.split('/');
            if (split[2]) {
                year = split[2];
            } else { year = "Not a proper date";}
            return year;
        }
        </script>
        <script>
        var DateOfBirthText;
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];
        DateOfBirthText = getYear('[pbmemberinfo Field="DateOfBirthText"]');

        a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-42339992-3', 'max-connect.com.au'); ga('send', 'pageview', {
        'dimension1': '[pbmemberinfo Field="MaxSite"]',
        'dimension2': '[pbmemberinfo Field="Stream"]',
        'dimension3': '[pbmemberinfo Field="AllowanceType"]',
        'dimension4': '[pbmemberinfo Field="HoursRequired"]',
        'dimension5': DateOfBirthText,
        'dimension6': '[pbmemberinfo Field="Gender"]',
        'dimension7': '[pbmemberinfo Field="IndigenousFlag"]',
        'dimension8': '[pbmemberinfo Field="DisabilityTypeCode"]',
        'dimension9': '[pbmemberinfo Field="ManagedBy"]',
        'dimension10': '[pbmemberinfo Field="Placed"]',
        'dimension11': '[pbmemberinfo Field="Roles"]'
        }); </script>
        <!-- ANALYTICS CODE End-->
        <script src="/Site/defaultsite/Skins/maxconnect/js/jquery-1.8.2.js"></script>
        <!-- bxSlider Javascript file -->
        <script src="/Site/defaultsite/Skins/maxconnect/js/jquery.bxslider.js"></script>
        <script src="/Site/defaultsite/Skins/maxconnect/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/site/defaultsite/filesystem/scripts/jquery.cycle.all.js" ></script>
        <script src="/Site/defaultsite/Skins/maxconnect/js/main.js"></script>
        <script type="text/javascript" src="/Site/defaultsite/Skins/maxconnect/js/click.js"></script>
        <script>
        $(document).ready(function(){
        if($('.bxslider') || $('.bxslider2') || $('.bxslider3')){
        $('.bxslider').bxSlider({adaptiveHeight:true});
        $('.bxslider2').bxSlider({adaptiveHeight:true});
        $('.bxslider3').bxSlider({adaptiveHeight:true});
        }
        });</script>
        <script type="text/javascript">
        $(document).ready(function(){
        if($('.slider')){
        $('.slider').cycle({
                fx:     'scrollHorz',
            speed:  'slow',
            timeout: 4000,
            next:   '#next',
            prev:   '#prev'
        });
        } });
        </script>


    </body>
</html>