<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home .:. Maxconnect</title>
        <link rel="stylesheet" href="/skin.css">
    </head>
    <body>
        <header id="primary-nav" class="row navbar-default">
            <div class="container">
                <nav class="navbar  navbar-static-top">
                    <div id="logo" class='col-lg-3'>MaxConnect</div>
                    <ul  class="nav nav-pills col-lg-5" >
                        <li><a href="#">Latest</a></li>
                        <li><a href="#">Tools & resources</a></li>
                        <li><a href="#">Job Search</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                    <ul id="login" class="col-lg-4 nav nav-pills pull-right">
                        <li><a href="#"><i class="glyphicon glyphicon-plus"></i><span>Login</span></a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-plus"></i><span>Registor</span></a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="jumbotron">
        <div class="container">
            <h1 class="text-center">Finding Jobs,<br> Changing Lives</h1>
          
                <div class="col-lg-4 col-md-offset-4">
                    <input type="text" class="form-control col-lg-9 pill" placeholder="Text input">
                    <button type="submit" class="btn btn-circle col-lg-2"><span class="glyphicon glyphicon-search"></span></button>
                </div>
           
            </div>
            </div>
   
        <div id="color-nav" class='center-link container-fluid'>
            <div class='row'>
                  <nav class="navbar ">
                    <ul  class="nav nav-pills" >
                       <li class="col-lg-2"><a href="#">How We Help You <i class="glyphicon glyphicon-menu-right circle"></i></a></li>
                       <li class="col-lg-2"><a href="#">Getting Started <i class="glyphicon glyphicon-menu-right circle"></i></a></li>
                       <li class="col-lg-2"><a href="#">My Profile      <i class="glyphicon glyphicon-menu-right circle"></i></a></li>
                       <li class="col-lg-2"><a href="#">My Resume       <i class="glyphicon glyphicon-menu-right circle"></i></a></li>
                       <li class="col-lg-2"><a href="#">Job Alerts      <i class="glyphicon glyphicon-menu-right circle"></i></a></li>
                       <li class="col-lg-2"><a href="#">Talk to us      <i class="glyphicon glyphicon-menu-right circle"></i></a></li>

                       
                    </ul>
                </nav>
            </div>
        </div>
        <div class='container big-box'>
            <div class='row'>
                <div class='col-xs-6'><h2>Just for you</h2></div>
                <div class='col-xs-6'><button type='button'>View All</button></div>
            </div>
            <div class='row news-box'>
                <div class='col-xs-4'>
                    <h3>Meet your MAX-Match</h3>
                    <em>Posted by:</em><span>MAX Employment</span>
                    <p>Nosectas apit, arciendam quiasp
                    Nosectas apit, arciendam quiaspNosectas apit, arciendam quiasp
                    Nosectas apit, arciendam quiasp
                    </p>
                    <div class='read-more-box'>
                        Read More
                        <img src='right-arrow.gif'/>
                    </div>
                </div>
                <div class='col-xs-4'>
                    <h3>Ace your interview in 5 questions</h3>
                    <em>Posted by:</em><span>MAX Employment</span>
                    <p>Nosectas apit, arciendam quiasp
                    Nosectas apit, arciendam quiaspNosectas apit, arciendam quiasp
                    Nosectas apit, arciendam quiasp
                    </p>
                </div>
                <div class='col-xs-4'>
                    <h3>Three ways to stand out in a crowd</h3>
                    <em>Posted by:</em><span>MAX Employment</span>
                    <p>Nosectas apit, arciendam quiasp
                    Nosectas apit, arciendam quiaspNosectas apit, arciendam quiasp
                    Nosectas apit, arciendam quiasp
                    </p>
                </div>
            </div>
        </div>
        <div class='container today-tip-box'>
            <h1>Today's Tip</h1>
            <p>Finding jobs,
            </p>
            <p>Nonsectas apit
            </p>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='col-xs-4'>
                </div>
                <div class='col-xs-4'>
                </div>
                <div class='col-xs-4'>
                </div>
            </div>
        </div>
        <div class='container'>
            <img src='house.gif'><span>MAX Employment</span>
            <p>
            Finding jobs, changing lives lorem ipsum do
            </p>
        </div>
        <script src="/assets/js/main.js"></script>
    </body>
</html>