<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Profile Creation .:. Maxconnect</title>
        <link rel="stylesheet" href="/skin.css">
    </head>
    <body>
        @@include('primary-nav.html')

        <div class="jumbotron">
            <h2>Short heading style</h2>
            <h4>Message specific</h4>
        </div>
        @@include('edit-nav.html')
        <div class='container big-box'>
            <div class="row">
                <div class="container">
                    <h1>About me</h1>
                    <div class="edit-form">
                        <ul>

                        </ul>
                    </div>

                </div>
            </div>
    </div>
    <section id="blog">
        <article class="container">
            <div class="row">
                <div class="col-md-10">
                   

                </div>

</div>
        </article>
    </section>
        

    @@include('footer.html')

</body>
</html>