<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home .:. Maxconnect</title>
        <link rel="stylesheet" href="/skin.css">
    </head>
    <body>
        @@include('primary-nav.html')
        <div class="purple_alt_bg">
        <div id="candidate_nav" class="container">
                <div class="col-lg-8">
                <h1 class="">Arther Curry</h1>
                <small>
                <strong>Member No.</strong>
                <span>1008602809</span>
                </small>
                </div>
                <a href="#" class="btn btn-purple-dark  pill-button pull-right">
                <span>Find me a job</span><i class="glyphicon glyphicon-chevron-right circle"></i>
                </a>
            </div>
        </div>
        <div id="candidate_profile">
        <main class="container">
            <section class="message col-lg-5">
           
                <h2>
                    Congratulations! Your Profile is complete.
                </h2>
            
                <p>Once upon a time, Jessica Jones was a costumed super-hero, just not a very good one. Under the harsh tutelage of blind martial arts master Stick, Matt mastered his heightened senses and became a formidable fighter. Youve found it. Jessica Jones had Joined the Avengers.</p>
                <p>Once upon a time, Jessica Jones was a costumed super-hero, just not a very good one. Under the harsh tutelage of blind martial arts master Stick, Matt mastered his heightened senses and became a formidable fighter.</p>
            </section>
            <section class="col-lg-6 pull-right">
            <header >
                <h3 class="pull-left">Contact Details</h3>
                <a class="btn-small pull-right">Edit <i class="glyphicon glyphicon-pencil"></i></a>
            </header>
                <ul>
                    <li>
                        <span >Status:</span>
                        <p ><span class="label label-default">active</span></p>
                    </li>
                    <li>
                        <span>Member since:</span>
                        <p>XX/XX/XX </p>
                        <span>Last Updated</span>
                        <p>XX/XX/XX</p>
                    </li>
                    <li>
                        <span>Street Address:</span>
                        <p>27 Avenger Way 4032</p>
                    </li>
                    <li>
                        <span>Email:</span>
                        <p><a>Aquaman@justiclegue.com.au</a></p>
                    </li>
                    <li>
                        <span>Primary Telephone:</span>
                        <p>555 555 555 555</p>
                    </li>
                    <li>
                        <span>Secondary Phone:</span>
                        <p>55 555 555 555</p>
                    </li>
                </ul>
            </section>
        </main>
        <div class='row'>
            <div id="candidate_details" class='container'>
                <div class="col-lg-12">
                    <!-- Sub Item 1 -->
                    <header>
                        <h2 class="pull-left">View Profile</h2>
                        <div class="pull-right">
                <a class="btn-small pull-right">Print <i class="glyphicon glyphicon-print"></i></a>
                <a class="btn-small pull-right">Email <i class="glyphicon glyphicon-envelope"></i></a>

                        </div>
                    </header>

                     <!-- Summary -->
                    <div class="panel panel-rounded">
                        <div class="panel-heading" role="tab" id="headingSummary">
                            <h4 class="panel-title">
                            <a class="panel-collapse collapse collapsed" data-toggle="collapse" data-parent="#collapseOne" href="#collapseSummary" aria-expanded="true" aria-controls="collapseOne">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                           Summary
                            </a>
                            </h4>
                        </div>
                        <div id="collapseSummary" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSummary">
                            <div class="panel-body grey_bg">
                                <p>
                                Lorem ipsum Ad magna eiusmod consequat qui Duis id consectetur fugiat fugiat do culpa occaecat sit esse eiusmod ea qui incididunt ea.
                                </p>
                            </div>
                        </div>
                    </div> 
                    <!-- END Summary -->
                    
                    <!-- About Me -->
                      <div class="panel panel-rounded">
                        <div class="panel-heading" role="tab" id="headingAbout">
                            <h4 class="panel-title">
                            <a class="panel-collapse collapse collapsed" data-toggle="collapse" data-parent="#collapseOne" href="#collapseAbout" aria-expanded="true" aria-controls="collapseSubOne">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                           About Me
                            </a>
                            </h4>
                        </div>
                        <div id="collapseAbout" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAbout">
                            <div class="panel-body grey_bg">
                                <p>
                                Lorem ipsum Ad magna eiusmod consequat qui Duis id consectetur fugiat fugiat do culpa occaecat sit esse eiusmod ea qui incididunt ea.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END About Me -->
                    <!-- Objective -->
                      <div class="panel panel-rounded">
                        <div class="panel-heading" role="tab" id="headingObjective">
                            <h4 class="panel-title">
                            <a class="panel-collapse collapse collapsed" data-toggle="collapse" data-parent="#collapseOne" href="#collapseObjective" aria-expanded="true" aria-controls="collapseSubOne">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        Objective
                            </a>
                            </h4>
                        </div>
                        <div id="collapseObjective" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSubOne">
                            <div class="panel-body grey_bg">
                                <p>
                                I would like to be aquaman
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--END Objective -->
                    <!-- WorkHistroy -->
                      <div class="panel panel-rounded">
                        <div class="panel-heading" role="tab" id="headingWorkHistroy">
                            <h4 class="panel-title">
                            <a class="panel-collapse collapse collapsed" data-toggle="collapse" data-parent="#collapseOne" href="#collapseWorkHistroy" aria-expanded="true" aria-controls="collapseSubOne">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                           Work Histroy
                            </a>
                            </h4>
                        </div>
                        <div id="collapseWorkHistroy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSubOne">
                            <div class="panel-body grey_bg">
                                <p>
                                Lorem ipsum Ad magna eiusmod consequat qui Duis id consectetur fugiat fugiat do culpa occaecat sit esse eiusmod ea qui incididunt ea.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Education -->
                      <div class="panel panel-rounded">
                        <div class="panel-heading" role="tab" id="headingEducation">
                            <h4 class="panel-title">
                            <a class="panel-collapse collapse collapsed" data-toggle="collapse" data-parent="#collapseOne" href="#collapseEducation" aria-expanded="true" aria-controls="collapseSubOne">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                          Education &amp; Qualifactions
                            </a>
                            </h4>
                        </div>
                        <div id="collapseEducation" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSubOne">
                            <div class="panel-body grey_bg">
                                <p>
                                Lorem ipsum Ad magna eiusmod consequat qui Duis id consectetur fugiat fugiat do culpa occaecat sit esse eiusmod ea qui incididunt ea.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Resume -->
                      <div class="panel panel-rounded">
                        <div class="panel-heading" role="tab" id="headingResume">
                            <h4 class="panel-title">
                            <a class="panel-collapse collapse collapsed" data-toggle="collapse" data-parent="#collapseOne" href="#collapseResume" aria-expanded="true" aria-controls="collapseSubOne">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                           View Resume
                            </a>
                            </h4>
                        </div>
                        <div id="collapseResume" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSubOne">
                            <div class="panel-body grey_bg">
                                <p>
                                Lorem ipsum Ad magna eiusmod consequat qui Duis id consectetur fugiat fugiat do culpa occaecat sit esse eiusmod ea qui incididunt ea.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        @@include('footer.html')
    </body>
</html>