<div class="jumbotron">
</div>
<div class='container big-box'>
</div>
<section id="blog">
    <article class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>5 seemingly silly questons that can make or break your interview</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @@include('collections/blog/sidebar-details.html')
            @@include('collections/blog/sidebar-share.html')
        </div>
        <div class="col-md-6">
            [pbContent RegionName="default" StripHtml="false" Visble="True" ] 
            <div class="row article-end">
                <div class="col-md-8">
                    <a href="" class="btn btn-default pill-button pull-left">
                    <span>Look For Jobs</span><i class="glyphicon glyphicon-chevron-right circle"></i>
                    </a>
                </div>
            </div>
        </div>
        </article>
    </section>
    <div class='row grey_bg'>
        <div id="just_for_you" >
            <div  class='container'>
                <h1 class="col-lg-6">Just for you</h1>
                <a href="" class="btn btn-default pill-button pull-right">
                <span>View all</span><i class="glyphicon glyphicon-chevron-right circle"></i>
                </a>
            </div>
            <div class='container news-box'>
                @@include('collections/blog/card-article.html')
                @@include('collections/blog/card-article.html')
                @@include('collections/blog/card-article.html')

            </div>
        </div>
    </div>