<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Profile Creation .:. Maxconnect</title>
        <script src="" type=""></script>
        <link rel="stylesheet" href="/skin.css">
    <!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.selectboxit/3.8.0/jquery.selectBoxIt.css"> -->

        
    </head>
    <body>
        @@include('primary-nav.html')

        <div class="jumbotron">
            <h2>Short heading style</h2>
            <h4>Message specific</h4>
        </div>
        @@include('edit-nav.html')
        <div class='container big-box'>
            <div class="row">
                <div class="container">
                    <h1>About me</h1>
                    <div class="edit-form">
                        <ul>

                        </ul>
                    </div>

                </div>
            </div>
    </div>
    <section id="blog">
        <article class="container">
            <div class="row">
                <div class="col-md-10">
                     
      <div>
        <div class="tag">Checkbox Small</div>
        <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
    </div>
    <div>
        <div class="tag">Checkbox Big</div>
        <input type="checkbox" id="checkbox-2-1" class="regular-checkbox big-checkbox" /><label for="checkbox-2-1"></label>
    </div>
    <div>
        <div class="tag">Radio Small</div>
        <div class="radio-big">
            <input type="radio" id="radio-1-1" name="radio-1-set"   /><label for="radio-1-1"></label>
            <input type="radio" id="radio-1-2" name="radio-1-set"   /><label for="radio-1-2"></label>
            <input type="radio" id="radio-1-3" name="radio-1-set"  /><label for="radio-1-3"></label>
            <input type="radio" id="radio-1-4" name="radio-1-set"  /><label for="radio-1-4"></label>
        </div>
    </div>
    <div>
        <div class="tag">Radio Big</div>
        <div class="button-holder">
            <input type="radio" id="radio-2-1" name="radio-2-set" class="regular-radio big-radio" /><label for="radio-2-1"></label>
            <input type="radio" id="radio-2-2" name="radio-2-set" class="regular-radio big-radio" /><label for="radio-2-2"></label>
            <input type="radio" id="radio-2-3" name="radio-2-set" class="regular-radio big-radio" /><label for="radio-2-3"></label>
            <input type="radio" id="radio-2-4" name="radio-2-set" class="regular-radio big-radio" /><label for="radio-2-4"></label>

        </div>
    </div>

<div>
        <select  name="test">
            <option value="SelectBoxIt is:">SelectBoxIt is:</option>
            <option value="a jQuery Plugin">a jQuery Plugin</option>
            <option value="a Select Box Replacement">a Select Box Replacement</option>
            <option value="a Stateful UI Widget">a Stateful UI Widget</option>
          </select>
</div>


            




                </div>

</div>
        </article>
    </section>
        

    @@include('footer.html')

</body>
</html>